p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

body{
    background-color: #80DBD4;
}

form {

    width:100%; margin-top:17px; 


        .signinas{
            display: inline-block; 
            float: left; 
            color: white; 
            margin-bottom: 0px;
         }

        .signup{
            padding: 10px; 
            display: inline-block; 
            float: right; 
            color: white;
        }
}

#email{
    margin-bottom: 0px; 
    margin-top: 17px; 
    margin-right: 7px;
}

#password{
    margin-bottom: 0px; 
    margin-top: 17px; 
    margin-right: 7px;
}

#username{
    margin-bottom: 0px; 
    margin-top:7px; 
    margin-right:7px;
}

.button-primary{
    margin-bottom: 0px; 
    margin-top: 7px; 
    margin-right: 7px;
}

.ReadRamble{
    border: 5px solid #33C3F0;
    height:600px;
    padding:7px;
    padding-top:0px;
    padding-top:2px;
    overflow: scroll;
    position:relative;

}

#RNRButton{
    width:303px;
}

#logoutButton{
    margin-left: 15px;
    margin-top:0px;
}

.tabs {
        position: absolute;
        top: 11%;
        left: -335px;
        transform: translate(-50%, -100%);
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: absolute;

        -moz-transform:rotate(-90deg);
        ms-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        transform-origin: bottom right;


            .tab {
                display: inline-block;
                border: 5px solid #33C3F0;
                flex: 1;
                margin: 0 10px;
                padding: 5px 10px;
                text-align: center;
                width: 150px;
                background: #80DBD4;
                cursor: pointer;
                color:white;
                font-size:18px;
                height:50px;
            }
}

.wordHolder{
    color:white;
}

#content{
    min-width:100%;
    max-width:100%;
    background-color:#80DBD4;
    color:white;
    font-size:18px;
    max-height:478px;
    min-height:478px;
    border:none;
    outline:2px solid #33C3F0;
    margin-bottom:0px;
}

textarea::-webkit-input-placeholder {
   color: white;
}

textarea:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

textarea:-ms-input-placeholder {  
   color: white;  
}

#title{
    background-color:#80DBD4;
    color:white;
    font-size:25px;
    border:none;
    margin-bottom:3px;
    width:100%;   
}

input#title::-webkit-input-placeholder {
   color: white;
}

input#title:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

input#title::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

input#title:-ms-input-placeholder {  
   color: white;  
}

#scBox{
    float:right;
}


#rambleForm{
    margin-top:7px;
}

.snglRamble{
    border: 3px solid #33C3F0;
    width:100%;
    padding:5px;
    margin-top:5px;
}

.rambleTitle, .rambleContent{
    margin-bottom:0px;
}





